<div class="header d-flex justify-content-center align-items-center">
    <img src="./assets/img/logo.png" />
</div>
<div class="wrapper">
    <div class="item">
        <input class="search" type="text" placeholder="O que procura?">
        <svg class="search_icon" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M11.5 19a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15ZM20.5 20.5 17 17" stroke="#1c1c1c" stroke-width="2"
                stroke-linecap="round" stroke-linejoin="round"></path>
        </svg>
    </div>
    <div class="item wrapper-item d-flex">
        <div class="menu  d-flex align-items-center">
            <div class="burger">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
            </div>
            <p class="m-0">MENU</p>
        </div>
        <div class="col-md-auto menu-link" style="--anim:1">
            Casa
        </div>
        <div class="col-md-auto menu-link" style="--anim:2">
            Moda
        </div>
        <div class="col-md-auto menu-link" style="--anim:3">
            Outlet
        </div>
        <div class="col-md-auto menu-link" style="--anim:4">
            Marcas
        </div>
        <div class="col-md-auto menu-link" style="--anim:5">
            Sustentabilidade
        </div>
        <div class="col-md-auto menu-link" style="--anim:6">
            Natal
        </div>
        <div class="col text-center menu-business" style="--anim:7">

            La Redoute for Business
        </div>
    </div>
</div>
<div class="user">
    <div class="item">
        <div class="row">
            <div class="col-md-auto menu-link">
                <div style="display: flex;align-items:center;">
                    <i class="header-icon" style="margin-right: 10px;">
                        <img src="./assets/img/user.png" />
                    </i>
                    <p class="text-center" style="margin: 0;">Entrar /Registar</p>
                </div>
            </div>
            <div class="col-md-auto menu-link">
                <i class="header-icon">
                    <img src="./assets/img/bag.png" />
                </i>
            </div>
            <div class="col-md-auto menu-link">
                <i class="header-icon">
                    <img src="./assets/img/heart.png" />
                </i>
            </div>
        </div>
    </div>
</div>