<div class="wrapper">
    <div class="nav-logo">
        <img src="./assets/img/logo.png" style="max-width: 104px;height:104px;margin-left: 44px;" />
    </div>
    <div class="nav-content">
        <div class="nav-search order-2 order-xl-1">
            <input type="text" placeholder="O que procura?">
            <svg class="search_icon" width="24" height="24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M11.5 19a7.5 7.5 0 1 0 0-15 7.5 7.5 0 0 0 0 15ZM20.5 20.5 17 17" stroke="#1c1c1c"
                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
        </div>
        <div class="nav-user order-1 order-xl-2">
            <div class="nav-menu-seconday">
                <div class="burger-secondary burger-btn">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
            </div>
            <div class="nav-logo-seconday">
                <img src="./assets/img/logo.png" style="max-width: 54px;height:54px;margin-left: 44px;" />
            </div>
            <div class="nav-user-login">
                <div style="display: flex;align-items:center;">
                    <img class="header-icon" style="margin-right: 10px;height: 24px;height:24px;"
                        src="./assets/img/user.png" />
                    <p class="text-center user-text" style="margin: 0;">Entrar /Registar</p>
                </div>
                <div>
                    <img class="header-icon-heart " src="./assets/img/heart.png" style="height: 24px;height:24px;" />
                </div>
                <div class="carrinho-icon">
                    <!-- <div class="carrinho-amount">1</div> -->
                    <img class="header-icon" src="./assets/img/bag.png" />
                </div>
            </div>
        </div>
        <div class="nav-menu order-3" style="overflow-x: auto;">
            <div class="menu d-flex align-items-center burger-btn" style="cursor: pointer;">
                <div class="burger ">
                    <div class="line"></div>
                    <div class="line"></div>
                    <div class="line"></div>
                </div>
                <p class="m-0">MENU</p>
            </div>
            <div class="col-md-auto menu-link" style="--anim:1">
                Casa
            </div>
            <div class="col-md-auto menu-link" style="--anim:2">
                Moda
            </div>
            <div class="col-md-auto menu-link" style="--anim:3">
                Outlet
            </div>
            <div class="col-md-auto menu-link" style="--anim:4">
                Marcas
            </div>
            <div class="col-md-auto menu-link" style="--anim:5">
                Sustentabilidade
            </div>
            <div class="col-md-auto menu-link" style="--anim:6">
                Natal
            </div>
            <div class="col-md-auto text-center menu-business" style="--anim:7">

                La Redoute for Business
            </div>
        </div>

    </div>

</div>