nav {
    padding-top: 15px;
    width: 100vw;
    position: fixed;
    z-index: 10;
    background-color: white;
}

.wrapper {
    width: 100%;
    display: flex;
    align-items: start;
}
.nav-content {
    width: 100%;
    padding-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;
}

.nav-search {
    position: relative;
    height: 60px;
    width: 75%;
    padding: 0 0 10px 0;
}

.nav-search input {
    padding-left: 50px;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #f6f7f9;
    outline: none;
    border: 0;
}

.search_icon {
    position: absolute;
    top: calc(50% - 16px);
    left: 15px;
    width: 24px;
    height: 24px;
}

.nav-user {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: 60px;
    width: 25%;
}
.nav-user-login {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.header-icon-heart,
.user-text {
    display: block;
}

.nav-user-login > * {
    font-weight: bold;
    margin-right: 20px;
}

.nav-user-login > *:last-child {
    margin-right: 0;
}
.nav-menu-seconday,
.nav-logo-seconday {
    display: none;
}

.nav-menu {
    overflow: hidden;
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 0;
    display: flex;
    align-self: center;
    flex-direction: row;
}

.menu {
    margin: 0 10px 0 0;
    padding: 0 15px;
    background-color: black;
    color: white;
    border-radius: 25px;
    height: 100%;
    width: auto;
    display: block;
}

.item {
    transition: 1s ease-in-out;
    height: 60px;
    padding: 0 0 10px 0;
    display: flex;
    flex-direction: row;
}

.burger {
    padding: 0 8px 0 0;
}

.burger .line {
    margin-bottom: 5px;
    height: 2px;
    width: 18px;
    background-color: white;
}

.burger .line:last-child {
    margin: 0;
}

.burger-secondary {
    padding: 0 8px 0 0;
}

.burger-secondary .line {
    margin-bottom: 5px;
    height: 2px;
    width: 18px;
    background-color: black;
}

.menu-business,
.menu-link {
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0 20px;
    font-weight: bold;
}

.menu-link:hover {
    cursor: pointer;
    background-color: #f6f7f9;
}

.menu-business:hover {
    cursor: pointer;
    color: white;
    background: linear-gradient(#ff3f52, #f62);
}

.menu-business,
.menu-link {
    opacity: 0;
    transition: opacity 1s ease-in-out;
    animation: dragRight 1s ease-in-out forwards calc(var(--anim) * 200ms);
}

@keyframes dragRight {
    from {
        opacity: 0;
        transform: translatex(50px);
    }

    to {
        opacity: 1;
        transform: translatex(0px);
    }
}

@media screen and (max-width: 1200px) {
    .nav-logo {
        display: none;
    }
    .nav-search {
        width: 100%;
    }
    .nav-content {
        padding: 0 40px;
    }

    .nav-user {
        width: 100%;
    }
    .nav-menu-seconday {
        width: 15%;
        height: 100%;
        display: block;
        display: flex;
        align-items: center;
    }
    .nav-logo-seconday {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 65%;
    }

    .header-icon-heart,
    .user-text {
        display: none;
    }

    .nav-user-login {
        width: 20%;
    }
    .menu {
        display: none !important;
    }
}
.carrinho-icon {
    position: relative;
}

.carrinho-amount {
    color: white;
    background-color: red;
    border-radius: 50%;
    display: flex;
    top: -8px;
    right: -8px;
    position: absolute;
    width: 20px;
    height: 20px;
    display: flex;
    font-size: 12px;
    align-items: center;
    justify-content: center;
}

.header-icon {
    height: 24px;
    width: 24px;
}
