.card-body {
  padding: 0;
}

.card-text {
  display: inline-block;
  max-width: available;
}
.card-price {
  text-decoration: line-through;
}

.card-discount {
  padding-left: 0.5rem;
}

.layout {
  display: grid;
  grid:
    "sidebar body" 1fr
    / 1fr 3fr;
  gap: 8px;
}

.sidebar { 
  grid-area: sidebar;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 300px;
  background-color: brown;
  z-index: 100;
}
.body { grid-area: body; }