#meuCanvas {
    border-radius: 10px;
    border: 1px solid lightgray;
    width: 100% !important;
    touch-action: none;
    object-fit: cover;
}

@media screen and (max-width: 600px) {
    #meuCanvas {
        height: 300px !important;
    }
}
.btn-header {
    color: black;
    background-color: #eceded;
    transition: all 1s ease-in-out;
    border-radius: 25px;
    padding: 5px 10px;
    margin-right: 10px;
    font-size: 14px;
}

.btn-header:hover {
    cursor: pointer;
    background: linear-gradient(#ff3f52, #f62);
}

.btn-vista-detalhes {
    font-weight: 600;
}
.btn-vista-detalhes:hover {
    cursor: pointer;
    color: #ff3f52 !important;
}

#vista-detalhes {
    transform: translateX(1000px);
}

.img-thumbnails {
    cursor: pointer;
    border: 1px solid black;
    width: 70px;
    height: 70px;
    margin: 0 15px 20px 0;
    border-radius: 5px;
    border: 1px solid lightgray;
}

.img-thumbnails.selected {
    border: 1px solid black !important;
}

.img-thumbnails:hover {
    border: 1px solid black !important;
}

.content-pop {
    position: fixed;
    top: 0;
    right: 0;
    visibility: hidden;
    transition: all 1s ease-in-out;
    z-index: 100;
    width: 45%;
    height: 100%;
    padding: 50px;
    background-color: whitesmoke;
}

.content-pop.show {
    visibility: visible !important;
    transform: translateX(0) !important;
}

@media screen and (max-width: 1000px) {
    .content-pop {
        width: 100%;
    }
}

.texture-item {
    width: 80px;
    height: 80px;
    border-radius: 20px;
    margin: 0 10px 0 0;
    opacity: 0.8;
    transition: 0.4s all ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.texture-item:hover {
    opacity: 1;
    border: 3px solid black;
    cursor: pointer;
}

.texture-item.active {
    opacity: 1;
    border: 3px solid black;
}

.btn-carrinho {
    color: white;
    background: black;
    width: 100%;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
}
.btn-carrinho:hover {
    cursor: pointer;
    color: white;
    border: 0;
    background: linear-gradient(#ff3f52, #f62);
}

.btn-play {
    color: black;
    width: 40%;
    background: lightgray;
    text-align: center;
    padding: 10px;
    border-radius: 20px;
    text-decoration: none;
}
.btn-play:hover {
    cursor: pointer;
    color: white;
    background: linear-gradient(#ff3f52, #f62);
}
